#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #000;
    display: block; /* ensure it's visible */
}

body {
    background-color: rgb(44, 44, 44);
    margin: 0;
    position: relative;
    z-index: 1;
    border: 1px solid rgb(255, 226, 84); /* Adds a border */
    border-radius: 40px; /* Rounds the border corners */
    padding: 20px; /* Adds padding inside the border */
    height: calc(100vh - 40px); /* Sets the height to fill the viewport, accounting for margin */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#weather, #moon-phase {
    color: rgb(224, 224, 224);
    font-family: "freight-sans-pro-lights", sans-serif;
    line-height: .4;
    font-size: 28px;
}

#weather,#moon-rise {
    color: rgb(255, 244, 187);
    font-family: "freight-sans-pro-hairline", sans-serif;
    font-size: .9em;
}

